.itemCart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
}

.imgCart {
    width: 10rem;
    border-radius: 15px;
}

.eliminarButton {
    border-radius: 12px;
    background-color: #791c0a;
    border: solid transparent;
    border-width: 0 0 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 18px;
    margin: auto;
    overflow: visible;
    padding: 9px 15px;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
    position: relative;
}

.eliminarButton::after {
    background-clip: padding-box;
    background-color: #ec4525;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 3px;
    bottom: -3px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.eliminarButton:focus {
    user-select: auto;
}
.eliminarButton:hover:not(:disabled) {
    filter: brightness(1.1);
}
.eliminarButton:disabled {
    cursor: auto;
}

.eliminarButton:active::after {
    border-width: 0 0 0px;
}
.eliminarButton:active {
    padding-bottom: 10px;
}