@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

.imgDetalle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    border-radius: 15px;
    border: solid 3px #ec4525;
    box-shadow: 25px 10px 20px rgba(121, 28, 10, 1);
}

.cardDetalle2 {
    font-size: 1.3em;
}
