.checkoutButton {
    border-radius: 16px;
    background-color: #791c0a;
    border: solid transparent;
    border-width: 0 0 4px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: auto;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0);
}

.checkoutButton::after {
    background-clip: padding-box;
    background-color: #ec4525;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.checkoutButton:focus {
    user-select: auto;
}
.checkoutButton:hover:not(:disabled) {
    filter: brightness(1.1);
}
.checkoutButton:disabled {
    cursor: auto;
}

.checkoutButton:active::after {
    border-width: 0 0 0px;
}
.checkoutButton:active {
    padding-bottom: 10px;
}